aiohttp
aiosqlite
akinator
akinator.py
beautifulsoup4
better-profanity
cowpy
discord.py
discordpy-antispam
dnspython
emoji
googletrans
mendeleev
motor
numpy
pandas
python-dotenv
requests
praw
fonttools