aiohttp
aiosqlite
akinator
akinator.py
beautifulsoup4
better-profanity
cowpy
discord.py
discordpy-antispam
dnspython
emoji
googletrans
motor
pandas
PyYAML
python-dotenv
wordcloud
requests
praw
fonttools